/* .container{
    margin: auto;
    margin-top: 100px;
} */

#create-form{
    height: 500px;
    border-right: 1px solid lightgray;
}
a{
    margin: auto;
}

h6{
    color: #2196f3;
    
}
.menu{
    flex: 1 1 auto;
}
/* .mat-toolbar{
    background:#337ab7;
}
.mat-tab-labels{
     background-color:#337ab7 !important;
     
} */
.mat-sidenav {
    width:650px;
    background: #fafafa;
}
/* .mat-sidenav-content {
    position: relative;
    transform: translate3d(0,0,0);
    display: block;
    height: fill-available !important;
    overflow-x:hidden !important;
} */
a{
    cursor: pointer;
}

.row{
    display: flex;
}
.btn-default {
    color: #fff;
    background: rgba(0, 0, 0, 0);
    border:none;
}

.editor{
    flex-grow: 1;
}
#loadingDiv{
    
  height: 85vh;
  position: relative;
  background: transparent;
}

.loader {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
}

.element-editor{
    margin:auto;
    max-width:760px;
    
}
.bold{
    font-weight:700;
    color:black;
}

.schema-editor{
    margin:auto;
    height: auto;
    /* width:1600px; */
}
.errorToolbar{
    background: darkcyan;
}
.menu{
    margin-left:10px;
}

.hr{
    border-bottom:1px solid lightgray;
}

.audit-content{
    margin-top:20px;
    margin-bottom: 10px;
}

.app-content{
    border-top:1px solid lightgray;
}

.space{
    margin-right:10px;
    margin-left:10px;
}

.show-on-hover:hover > ul.dropdown-menu {
    display: block;    
}

.fb-menu-item{
    font-size:15px;
    font-weight:600;
    color:white;
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default{
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.555)
}
.dropdown-menu:before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
  }
  
  .dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
  }