<div *ngIf="loading" id="loadingDiv">
  <img class="loader" src="./assets/loader.gif">

</div>
<div *ngIf="schema">

  <md-sidenav-container>
    <md-sidenav #sidenav mode="over" class="app-sidenav">

      <!---Navigator-->
     
          <app-navigator [_schema]="schema" [formSchema]="schema" [mode]="'edit'" (closeSidebar)="closeNavigator($event)"></app-navigator>

      

    </md-sidenav>
    <md-toolbar color="primary">
      <button md-icon-button (click)="sidenav.toggle()"><md-icon class="md-24" >menu</md-icon></button>
      <span style="font-size:18px; font-family:'Roboto'">Form Builder</span>
      <span class="menu">
      <div class="btn-group show-on-hover">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
               <span class="fb-menu-item">File</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a (click)="saveLocally()">
                  <span style="font-size:14px;font-weight:500"><i class="glyphicon glyphicon-save" aria-hidden="true"></i> Save Locally</span></a>
                </li>
                <li><a (click)="saveRemotely()">
                  <span style="margin-top:15px; font-size:14px;font-weight:500"><i class="fa fa-server" aria-hidden="true"></i> Save to Server</span></a>
                </li>
              </ul>
            </div>


            <div class="btn-group show-on-hover">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="fb-menu-item">View</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li> <a (click)="toggleView()"><span  style="font-size:14px;font-weight:500"><i class="fa fa-square-o" aria-hidden="true"></i> Single View</span> <i class="fa" [class.fa-check]="viewMode=='singleView'" style="color:green"></i></a>
                  </li>
                  <li>
                    <a (click)="toggleView()"><span  style="font-size:15px;font-weight:500">
                      <i class="fa fa-columns" aria-hidden="true"></i> Split View</span> <i class="fa" [class.fa-check]="viewMode=='multiView'" style="color:green"></i></a>
                  </li>
                </ul>
              </div>

              <div class="btn-group show-on-hover">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                      <span class="fb-menu-item">Tasks</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li>
                        <a (click)="validateConcepts()"><i class="fa fa-check-square-o"></i>
                          <span  style="font-size:14px;font-weight:500;"> Validate Concepts</span></a>
                    </li>
                  </ul>
                </div>

                <div class="btn-group show-on-hover">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="fb-menu-item">User</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li>
                          <a>
                              <span class="fa fa-user"></span><span  style="font-size:14px;font-weight:500"> {{user}}</span></a>
                      </li>
                      <li>
                          <a> <i class="fa fa-server"></i><span style="font-size:14px;font-weight:500"></span> {{url}}</a>
                      </li>
                    </ul>
                  </div>
             
                  
      <div class="btn-group">
          <button type="button" class="btn btn-default"  data-toggle="collapse" data-target="#audit-info">
            <span class="fb-menu-item">Audit</span></button>
        </div>   
        <div class="btn-group">
            <button type="button" class="btn btn-default"  (click)="exit()"><span class="fb-menu-item"> Exit</span></button>
          </div>  
      
      </span>
      
      <span flex></span>
      <app-reference-forms [schema]="schema"></app-reference-forms>
      <span class="space"></span>
      <button *ngIf="!formMetadata.published" type="button" class="btn btn-info" (click)="publish()"> Publish</button>
      <button *ngIf="formMetadata.published" type="button" class="btn btn-danger" (click)="unpublish()"> Unpublish</button>
      
    </md-toolbar>
    <div id="audit-info" class="container collapse audit-content">
      <md-card>
          <audit-info [_formMetadata]="formMetadata"></audit-info>
      </md-card>
    </div>


    <div class="app-content" *ngIf="schema">

  <div *ngIf="viewMode=='singleView'">
      <md-tab-group md-stretch-tabs class="schema-editor">

        <!--Element Editor-->
        <md-tab *ngIf="questions" label="Element Editor">
          <ng-template md-tab-label>
            Question Editor
            <a (click)="closeElementEditor()" data-toggle="tooltip" title="close tab" class="pull-right" style="margin-right:25px; padding-top:5px; cursor:pointer;"><i class="material-icons" >highlight_off</i></a>
          </ng-template>

          <md-card class="element-editor">
            <app-element-editor [schema]="schema" [pageIndex]="page" [sectionIndex]="section" [questionIndex]="question" [parentQuestionIndex]="parentQuestionIndex"
              [_questions]="questions" [rawSchema]="rawSchema" (closeComponent)="closeElementEditor()" [questionSchema]="questionSchema"></app-element-editor>
          </md-card>
        </md-tab>

        <!--Schema editor-->
        <md-tab label="Schema Editor">
          <md-card class="schema-editor">
            <app-schema-editor [schema]="strSchema" [rawSchema]="strRawSchema"
              [$formSchema]="schema"></app-schema-editor>
          </md-card>

        </md-tab>

        <!--Form-renderer-->
        <md-tab label="Form Viewer">
          <md-card class="schema-editor">
            <app-form-renderer [schema]="schema"></app-form-renderer>
          </md-card>
        </md-tab>
      </md-tab-group>
    </div>

    <div *ngIf="viewMode=='multiView'">
      <div class="row">
        <!--Element Editor-->
        <div *ngIf="questions" class="col-md-4">
          <div>
              <h4 class="text-cente" style="display:inline-block;">Question Editor</h4> 
              <a (click)="closeElementEditor()" data-toggle="tooltip" title="close tab" class="pull-right" style=" padding-top:5px; cursor:pointer; display:inline-block"><i class="material-icons" >highlight_off</i></a>
          </div>
             
           
  
            <md-card class="element-editor">
              <app-element-editor [schema]="schema" [pageIndex]="page" [sectionIndex]="section" [questionIndex]="question" [parentQuestionIndex]="parentQuestionIndex"
                [_questions]="questions" [rawSchema]="rawSchema" (closeComponent)="closeElementEditor()"></app-element-editor>
            </md-card>
          </div>
  
          <!--Schema editor-->
          <div [class.col-md-4]="questions" [class.col-md-6]="!questions">
            <h4 class="text-center">Schema Editor</h4>
            <md-card class="schema-editor">
              <app-schema-editor [schema]="strSchema" [rawSchema]="strRawSchema"
                [$formSchema]="schema"></app-schema-editor>
            </md-card>
          </div>
  
          <!--Form-renderer-->
          <div [class.col-md-4]="questions" [class.col-md-6]="!questions">
              <h4 class="text-center">Form Viewer</h4>
            <md-card class="schema-editor">
              <app-form-renderer [schema]="schema"></app-form-renderer>
            </md-card>
          </div>
      </div>
    </div>

   
    </div>
  </md-sidenav-container>
</div>
<div *ngIf="viewMode == 'badSchema'&& !schema">
    <md-toolbar class="errorToolbar">
        <span style="font-size:18px; font-family:'Roboto'; color:white;">Form Builder</span>
    </md-toolbar>
    <span class="alert alert-warning">
      This schema contains errors and cannot be properly compiled. Please try to correct the errors in the schema and re-compile it.
    </span>
    <div class="well">
      <app-schema-editor [rawSchema]="strRawSchema" [correctionMode]='true' [_errorMessage]="errorMessage"
      (correctedSchemaErrors)="loadFormBuilder($event)"></app-schema-editor>
  </div>
  </div>
