/* .container{
    margin: auto;
    margin-top: 100px;
} */

#create-form{
    height: 500px;
    border-right: 1px solid lightgray;
}
a{
    margin: auto;
}

h6{
    color: #2196f3;
    
}
.menu{
    flex: 1 1 auto;
}
/* .mat-toolbar{
    background:#337ab7;
}
.mat-tab-labels{
     background-color:#337ab7 !important;
     
} */
.mat-sidenav {
    width:650px;
    background: #fafafa;
}
/* .mat-sidenav-content {
    position: relative;
    transform: translate3d(0,0,0);
    display: block;
    height: fill-available !important;
    overflow-x:hidden !important;
} */
a{
    cursor: pointer;
}

.row{
    display: flex;
}

.editor{
    flex-grow: 1;
}
#loadingDiv{
    
  height: 400px;
  position: relative;
}

.loader {
  position: absolute;
  left: 30%;
  top: 25%;
  margin-left: -32px; /* -1 * image width / 2 */
  margin-top: -32px; /* -1 * image height / 2 */
  
}

.element-editor{
    margin:auto;
    width:750px;
    height:95vh;
}

.schema-editor{
    margin:auto;
    /* width:1600px; */
}