<div *ngIf="loading" id="loadingDiv">
  <img class="loader" src="./assets/loader.gif">
  
</div>
<div *ngIf="schema">
  
    <md-sidenav-container>
      <md-sidenav #sidenav mode="over" class="app-sidenav">
        
        <!---Navigator-->
        <app-navigator [_schema]="schema" [formSchema]="schema"  [mode]="'edit'" (closeSidebar)="closeNavigator($event)"></app-navigator>
  
      </md-sidenav>
      <md-toolbar color="primary">
        <button md-icon-button (click)="sidenav.toggle()"><md-icon class="md-24" >menu</md-icon></button>
        <span style="font-size:22px">Form Builder</span>
        <span class="menu"></span>
        <span flex></span>
        <app-reference-forms [schema]="schema"></app-reference-forms>
      </md-toolbar>
      <div class="app-content" *ngIf="schema">

        
<md-tab-group md-stretch-tabs class="schema-editor">
 
 <!--Element Editor-->
           <md-tab *ngIf="questions" label="Element Editor" >
              <ng-template md-tab-label>
                  Question Editor
<a (click)="closeElementEditor()" data-toggle="tooltip" title="close tab" class="pull-right" style="margin-right:25px; padding-top:5px; cursor:pointer;"><i class="material-icons" >highlight_off</i></a>
                </ng-template>
                
            <md-card class="element-editor">
              <app-element-editor [schema]="schema" [pageIndex]="page" [sectionIndex]="section" [questionIndex]="question" [parentQuestionIndex]="parentQuestionIndex"
                [_questions]="questions" [rawSchema]="rawSchema" (closeComponent)="closeElementEditor()"></app-element-editor>
            </md-card>
  </md-tab>
            
  
          <!--Schema editor-->
           <md-tab label="Schema Editor">
             <md-card class="schema-editor">
               <app-schema-editor [selectedSchema]="selectedSchema" [selectedRawSchema]="selectedRawSchema" [schema]="strSchema" [rawSchema]="strRawSchema" [$formSchema]="schema"></app-schema-editor>
             </md-card>

  </md-tab>
          
  
          <!--Form-renderer-->
          <md-tab label="Form Viewer">
            <md-card class="schema-editor">
            <app-form-renderer [schema]="schema"></app-form-renderer>
            </md-card>
          </md-tab>
        </md-tab-group> 
      </div>
    </md-sidenav-container>
</div>