<div *ngIf="question">
    <div [formGroup]="form" (keydown)="keyDownFunction($event)">
        <div class="input-group">
            <input class="form-control" placeholder="Enter concept id, uuid or label to search" [formControlName]="question.key" [id]="question.key" [type]="question.type" [value]="question.value">
            <span class="input-group-btn">
        <button class="btn btn-primary" type="button" (click)="searchConcept()"><i class="fa"  [class.fa-search]=!searching [ngClass]="{'fa-spinner fa-spin fa-fw':searching}"></i></button>
   </span>
        </div>
       


 </div>