<div class="container">
  <div
    id="loginbox"
    class="loginPage mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2"
  >
    <mat-card class="card">
      <div>
        <div class="logoContainer">
          <img class="logo" alt="AMPATH logo" src="./assets/ampath-logo.svg" />
        </div>

        <form
          #loginForm="ngForm"
          (ngSubmit)="login(loginForm.value)"
          class="loginForm"
        >
          <div
            *ngIf="hasInvalidCredentials"
            class="alert alert-danger alert-dismissible"
            role="alert"
          >
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            Incorrect username or password
          </div>
          <div
            *ngIf="hasConnectionProblem"
            class="alert alert-danger alert-dismissible"
            role="alert"
          >
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            There was a problem logging in. Please check that your server has
            CORS configured or that you have typed in the correct server URL.
          </div>
          <div>
            <label class="input-label" for="baseUrl">OpenMRS server URL</label>
            <select
              id="baseUrl"
              class="select-input form-control"
              [(ngModel)]="selectedBaseUrl"
              name="baseUrl"
              required
            >
              <option value="" [selected]="">
                Choose a server URL where your forms are hosted
              </option>
              <option *ngFor="let baseUrl of baseUrls" [value]="baseUrl">
                {{ baseUrl }}
              </option>
            </select>
          </div>

          <div *ngIf="selectedBaseUrl === 'Enter a custom URL'">
            <label for="customServerUrl" class="input-label"
              >Custom server URL</label
            >
            <input
              id="customServerUrl"
              type="text"
              class="form-control"
              name="customServerUrl"
              ngModel
              required
            />
          </div>

          <div>
            <label for="username" class="input-label">Username</label>
            <input
              id="username"
              type="text"
              class="form-control"
              name="username"
              ngModel
              required
            />
          </div>

          <div>
            <label for="password" class="input-label">Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
              (keyDown)="authenticated = undefined"
              ngModel
              required
            />
          </div>

          <div
            style="display: flex; justify-content: flex-start; margin-top: 3rem"
          >
            <button
              type="submit"
              class="btn btn-lg btn-primary btn-block btn-signin"
              [disabled]="!loginForm.valid"
            >
              <span *ngIf="!message">Sign in</span>
              <span *ngIf="message">Signing in...</span>
            </button>
          </div>
        </form>
      </div>
    </mat-card>
  </div>
</div>
