<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button class="close" type="button" (click)="close()">&times;</button>

      <div style="display:inline-block;">
        <h4 class="modal-title">Set Members</h4>
      </div>
      <!-- <div style="display:inline-block; margin-left:10px;">
        <label for="primary" class="btn btn-primary">Select All<input (change)="selectAll($event)" type="checkbox" id="primary" class="badgebox"><span class="badge"><i class="fa fa-check"></i></span></label>
      </div> -->
    </div>
    <div class="modal-body">
      <form>
        <div *ngFor="let setMember of setMembers;let i=index;">


          <div class="checkbox" style="margin-left:20px;">

            <div *ngIf="setMember.answers.length>0" style="float:right; margin-bottom:5px">
              <button class="btn btn-success" [attr.data-target]="'#answer'+i" data-toggle="collapse" [disabled]="!isQuestionChecked(i)">Answers <i class="fa fa-chevron-down"></i></button>
            </div>

            <div>
             <h5><input type="checkbox" #label+i (change)="setQuestions($event,i)"
                  [checked]="checked"><b> Question {{i+1}} </b></h5> 
            </div>

            <div class="form-group">
              <input type="text" class="form-control" #questionLabel [value]="setMember.display">
            </div>
            <br/>
            <div class="answers" [id]='"answer"+i' class="collapse" *ngIf="setMember.answers&&isQuestionChecked(i)" style="margin-left:30px;">
                <div *ngFor="let answer of setMember.answers; let j=index">
                  <div class="checkbox">
                    <h6><input type="checkbox" (change)="setAnswers($event,i,j)"> Answer {{j+1}}</h6>
                    <div class="form-group">
                      <input type="text" class="form-control" #answerLabel [value]="answer.display">
                    </div>
                  </div>
                </div>
    
              </div>
          </div>
<hr>
          
        </div>
        <div class="modal-footer">
          <button (click)="save()" class="btn btn-primary" >OK</button>
          <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
        </div>

      </form>
    </div>
  </div>
</div>
