
<md-sidenav-container >
    <md-sidenav #sidenav mode="over" class="app-sidenav" fullscreen>
    <div *ngIf="schema">
       <app-navigator [_schema]="schema" [formSchema]="schema"></app-navigator>
    </div>
        </md-sidenav>
        <md-toolbar color="primary">
            <button md-icon-button (click)="sidenav.toggle()">
                <md-icon class="md-24" >menu</md-icon>
                <span style="font-size:24px; margin-left:30px;">FORM EDITOR</span>
            </button>
        </md-toolbar>
    <div class="app-content" *ngIf="schema">  
        <div flex class="row">
            <div class="col-md-4">
                <app-element-editor></app-element-editor>
                </div>

            <div class="col-md-4">
                <app-schema-editor [schema]="strSchema"></app-schema-editor>
            </div>
            
            <div class="col-md-4" *ngIf="schema">
                <app-form-renderer [schema]="schema"></app-form-renderer>
            </div>
        </div> 
    </div>
</md-sidenav-container>
