<div *ngIf="_schema">
  <button class="btn btn-success" [matMenuTriggerFor]="menu">
    Referenced Forms
  </button>
  <mat-menu #menu="matMenu">
    <div style="padding: 20px">
      <button mat-menu-item (click)="insertRefForm()">
        <a (click)="insertRefForm()"
          ><i class="fa fa-plus"></i> Insert reference form</a
        >
      </button>
      <hr />
      <h5 class="badge badge-primary">Referenced Forms</h5>
      <button
        (click)="display(form)"
        mat-menu-item
        *ngFor="let form of refFormsArray"
      >
        {{ form.name }}
      </button>
    </div>
  </mat-menu>
</div>
