@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../../../assets/roboto-mono.woff') format('woff');
}

.editorContainer {
  padding: 0rem 1rem 1rem;
  background-color: rgb(243 244 246);
}

.m-4 {
  margin: 1rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.text-base {
  font-size: 16px;
}

.errorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexCenter {
  display: flex;
  align-items: center;
}

.errorIcon {
  font-size: 16px;
  margin-right: 0.5rem;
}

.editor {
  height: 100vh;
  width: 100%;
  overflow: auto;
}

.actionButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 1rem;
}
