<div class="editorContainer">
  <div class="errorContainer" *ngIf="viewingUncompiled">
    <div class="alert alert-danger m-4" *ngIf="errorMessage">
      <b class="flexCenter">
        <i class="material-icons text-base mr-2">error</i>{{ errorMessage }}</b
      >
    </div>
  </div>
  <div id="label" class="actionButtons">
    <div class="flexCenter" *ngIf="_schema">
      <button
        mat-raised-button
        color="basic"
        (click)="showSnackbar()"
        ngxClipboard
        [cbContent]="editor.getEditor().getValue()"
      >
        Copy schema to clipboard
        <i class="material-icons text-base ml-2">content_copy</i>
      </button>
    </div>
    <div class="">
      <div class="" *ngIf="viewingUncompiled">
        <button
          mat-raised-button
          color="primary"
          (click)="render()"
          *ngIf="
            buildSchemaMode &&
            parsedRawSchema &&
            parsedRawSchema.name !== undefined
          "
        >
          Render form
          <i class="material-icons text-base ml-2">arrow_forward</i>
        </button>
        <button
          mat-raised-button
          color="primary"
          class="mr-2"
          (click)="recompileSchema()"
          *ngIf="correctSchemaMode"
        >
          Compile schema
        </button>
      </div>
    </div>
  </div>
  <div>
    <ace-editor
      class="editor"
      #editor
      (textChanged)="onTextChanged($event)"
    ></ace-editor
    ><br />
  </div>
</div>
