.app {
  height: calc(100vh - 6rem);
}

.main {
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
}

.footer {
  padding: 1rem 0rem;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 14px;
}
