@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import url('https://fonts.googleapis.com/css?family=Roboto');
<<<<<<< bf0743308bba6ccfbdf2e91941974edc11d12637
<<<<<<< daef29cd6299317054325f13630da30535cb8ebd

=======
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
>>>>>>> Added ability to edit broken schemas
=======

>>>>>>> added ability to download schemas
 
.mat-sidenav-content {
    position: relative;
    transform: translate3d(0,0,0);
    display: block;
    /* height: fill-available !important; */
    overflow-x:hidden !important;
} 


html {
    height: 100%;
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    background: #f9fafc;
  }