@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import '../node_modules/bootstrap/less/variables.less';
@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: 'Inter'
);

@include mat-core($custom-typography);

$font-family-sans-serif: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;

.mat-sidenav-content {
  position: relative;
  transform: translate3d(0, 0, 0);
  display: block;
  /* height: fill-available !important; */
  overflow-x: hidden !important;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  background: #f9fafc;
}

.select-input {
  -webkit-appearance: none;
  background-image: url('./assets/select.svg');
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
}
