<md-toolbar color="primary">
  <span class="menu">Update Forms</span>
  <span class="flex"></span>
  <button class="btn btn-success" (click)="updateForms()" [disabled]="selectedForms.length==0">Update Selected Forms
    <i class="fa fa-arrow-right"></i>
  </button>
</md-toolbar>
<div class="well">
  <div *ngIf="oldComponentMetadata&&viewAlert">
    <md-card class="fade in">
      <p>
        <b>{{oldComponentMetadata.name}} has been successfully updated! The forms below reference the component. Please preview and update
          each form.</b>
      </p>
    </md-card>
  </div>
  <div class="panel-body" *ngIf="oldComponentMetadata">
    <table class="table table-striped table-bordered table-hover table-responsive table-list">
      <thead>
        <tr>
          <th width="15%">Form</th>
          <th width="15%">Version</th>
          <th width="15%">Component</th>
          <th width="15%">Published</th>
          <th width="15%">Update</th>

        </tr>
      </thead>
      <tbody *ngIf="formsReferencingThisComponent.length>0">
        <tr *ngFor="let form of formsReferencingThisComponent; let i = index;">
          <td class="formName">
            <b>{{form.metadata.name}}</b>
          </td>
          <td> {{form.metadata.version}}</td>
          <td>{{oldComponentMetadata.name}}</td>
          <td>
            <label [ngClass]="{'label':true, 'label-danger':!form.metadata.published, 'label-success':form.metadata.published}">{{form.metadata.published}}</label>
          </td>
          <td>
              <div class="form-group">
                    <input type="checkbox" (change)="onChange(form.metadata, $event.target.checked)">
              </div>
           
        
          </td>
          
        </tr>
      </tbody>
    </table>
  </div>
</div>
