.conatiner{
    padding-top:20px;
}

th {
      color: #fff;
      background-color: #3f51b5;
      border-color: #808080;
  }
    
  md-card{
   
      color: #3c763d;
      background-color: #dff0d8;
      border-color: #d6e9c6;
     
  }

  table{
    background-color:#fff;
    box-shadow:0px 2px 2px #aaa;
    border-color:lightgray;
    
  }


  .flex{
      flex:1 1 auto;
  }
  
  .version-input{
      width:30%;
  }

  .name{
      font-family: 'Roboto';
      color:#fff;
      font-size:16px;
  }
.well{
    height:85vh;
}
  