<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">{{title || 'Prompt'}}</h4>
    </div>
    <div class="modal-body">
        
      <form [formGroup]="form">
          <div class="form-group">
            <label>Name</label>
            <input class="form-control"  formControlName="name">
          </div>

          <div class="form-group" *ngIf="uuid">
                <label>UUID</label>
                <input class="form-control" [value]="uuid"  disabled>
              </div>

              <div class="form-group">
                    <label>Version</label>
                    <input class="form-control"  formControlName="version">
                  </div>

                   <div class="form-group" *ngIf="encounterTypes">
                        <label for="encounter-type">Encounter Type</label>
                        <select class="form-control" formControlName="encounter">
                            <option *ngFor="let e of encounterTypes"  [value]="e.uuid">{{e.display}}</option>
                        </select>
                      </div> 
                      
                      <div class="form-group">
                          <label>Description</label>
                          <textarea class="form-control" rows="4" formControlName="description"></textarea>
                      </div>
       
      </form>

    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="save(form.value)">OK</button>
      <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
    </div>
  </div>
</div>
